<div class='row'>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img id="foto" src="../../../assets/images/fotoAR.jpg" class="img-fluid">
    </div>  
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
        <h1>{{miPorfolio.name}}</h1>
        <h4>{{miPorfolio.position}}.</h4>
        <h5>Buenos Aires - Argentina</h5>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Acerca de mi.</h2>
      <h3>Emprendedor, Autodidacta.</h3>
      
    </div>
</div>    